extends layout

block content

  // form fields to be displayed
  - var formFields = ['name','billingcity'];
  h1= title
  form(method='post', action='/accounts/#{data.getId()}/update')
    input(name='id', value='#{data.getId()}', type='hidden')
    each val, key in data._fields
      - if (formFields.indexOf(key) != -1)
        div
          label #{key}:
            input(name='#{key}', value=val || '', type='text')
    div
      input(type='submit', value='Save')
