extends layout

block content

  // fields NOT to be displayed	
  - var skipFields = ['attributes','isdeleted','setexternalid'];
  h1= title
  p Number of contacts: #{data[0].totalSize}
  a(href='/accounts/#{data[1].getId()}/edit') Edit this record
  ul
    each val, key in data[1]._fields
      - if (skipFields.indexOf(key) == -1)
        li #{key}: #{val}
